<h1> <%= @location.first["title"] %> </h1>
<h3><%= @location.first["artist"] %></h3> 

Located in: <%= @location.first["location_description"] %>
<br> 
<%= @location.first["credit_line"] %> 
<br>
Made in: <%= @location.first["accession_id"] %>
<br>

<br>
Nearby Art: 
<ul>
<% nearby_locations(@location.first["geometry"]).each do |location| %>
  <% unless location == @location.first || location["title"] == nil %>
    <li><%= location["title"] %> || <%= link_to "Details", location_path(id = location["_id_"]) %> </li>
  <% end %>
<% end %>
</ul>
