<h1> <%= @location.first["title"] %> </h1>
<h3><%= @location.first["artist"] %></h3> 

Located in: <%= @location.first["location_description"] %>
<br> 
<%= @location.first["credit_line"] %> 
<br>
Made in: <%= @location.first["accession_id"] %>
<br>
<%= google_maps_lat_long(@location.first["geometry"]) %>
<br>
<br>

<% if current_user && unbookmarked %>
  <%= form_for Bookmark.new do |f| %>
    <%= f.label :name, "Bookmark This Page" %>
    <%= f.text_field :name%>
    <%= f.collection_select :bookmark_list_id, current_user.bookmark_lists, :id, :name %>
    <%= f.hidden_field :bookmarkable_id, value: params[:id] %>
    <%= f.submit %>
  <% end %>
<% end %>




<h4>Nearby Parking:</h4>
<ul>
  <% unless nearby_parking(@location.first["geometry"], 500).empty? %>
    <% nearby_parking(@location.first["geometry"], 500).each do |parking| %>
      <li><%= parking["primetype"] %>, <%= parking["address"] %>, <%= google_maps_link(parking["address"]) %></li>
    <% end %>
  <% else %>
    There is no nearby parking, check out public transit and other options
  <% end %>
</ul> 

<h4>Nearby Art:</h4> 
<ul>
<% nearby_locations(@location.first["geometry"]).each do |location| %>
  <% unless location == @location.first || location["title"] == nil %>
    <li><%= location["title"] %> || <%= link_to "Details", location_path(id = location["_id_"]) %> </li>
  <% end %>
<% end %>

<% if nearby_locations(@location.first["geometry"]).empty? %>
  There are no other nearby art pieces. Sorry about that. 
<% end %>
</ul>
